@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
    --primary: #58A9A5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-width: 320px;
    line-height: 1.6;
    font-size: 16px;
    padding: 0 40px; /*зависит от макета*/
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1611px;
    margin: 0 auto;
}

.about__inner {
    display: flex;
}

h2 {
    color: #1C2323;
    text-align: center;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
